// Configuration
@import "../../node_modules/bootstrap/scss/functions";

// Color palette overrides - must come before variables import
$primary: #88a6ba; // Muted Sage Green
$body-bg: #FAF9F7; // Soft off-white
$body-color: #2B2B2B; // Charcoal
$headings-color: #88a6ba; // Sage green for headings
$link-color: #88a6ba; // Sage green for links
$link-hover-color: darken(#88a6ba, 10%);
$hr-border-color: #88a6ba; // Warm Cream/Ivory for horizontal rules

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";

// Add sage to theme colors map for utility classes
$theme-colors: map-merge($theme-colors, (
  "sage": #88a6ba
));

@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

// Layout & components
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
// @import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
// @import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/button-group";
// @import "../../node_modules/bootstrap/scss/nav";
// @import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
// @import "../../node_modules/bootstrap/scss/accordion";
// @import "../../node_modules/bootstrap/scss/breadcrumb";
// @import "../../node_modules/bootstrap/scss/pagination";
// @import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/alert";
// @import "../../node_modules/bootstrap/scss/progress";
// @import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/close";
// @import "../../node_modules/bootstrap/scss/toasts";
@import "../../node_modules/bootstrap/scss/modal";
// @import "../../node_modules/bootstrap/scss/tooltip";
// @import "../../node_modules/bootstrap/scss/popover";
@import "../../node_modules/bootstrap/scss/carousel";
// @import "../../node_modules/bootstrap/scss/spinners";
// @import "../../node_modules/bootstrap/scss/offcanvas";
// @import "../../node_modules/bootstrap/scss/placeholders";

// Helpers
@import "../../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../../node_modules/bootstrap/scss/utilities/api";

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.note {
  font-size: .8em;
  margin-top: 2em;
  display: block;
  color: crimson;
}

.img-fluid {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.lightbox {
  background-color: #000000
}

.img-thumb {
  position:relative;
  overflow:hidden;
  padding-bottom:100%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.carousel.pointer-event {
  touch-action: pan-y pinch-zoom;
}

.modal.lightbox .modal-dialog {
  max-width: 100vw;
  margin: 0;
  height: 100vh;
}

.modal.lightbox .modal-content {
  background: transparent;
  border: 0;
  height: 100%;
}

.modal.lightbox .modal-body {
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox-carousel {
  width: 100%;
  height: 100%;
}

.lightbox-carousel .carousel-inner,
.lightbox-carousel .carousel-item {
  height: 100%;
}

/* Our wrapper is a flexbox that centers the image */
.lightbox-carousel .image-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}

/* The actual image sizing */
.lightbox-carousel .lightbox-img {
  max-width: 100vw;
  max-height: calc(100vh - 40px); /* leave a bit of room for caption/close */
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

/* Ensure all headings use sage green (except when on sage backgrounds) */
h1, h2, h3, h4, h5, h6 {
  color: darken(#88a6ba, 10%);
}

/* Buttons with light text on sage green background */
.btn-primary {
  background-color: #88a6ba;
  border-color: #88a6ba;
  color: #FAF9F7;

  &:hover, &:focus {
    background-color: darken(#88a6ba, 5%);
    border-color: darken(#88a6ba, 5%);
    color: #FAF9F7;
  }

  &:active {
    background-color: darken(#88a6ba, 10%);
    border-color: darken(#88a6ba, 10%);
    color: #FAF9F7;
  }
}

/* Text colors for elements on sage green backgrounds */
.bg-sage {
  color: #FAF9F7;

  /* Override heading colors on sage backgrounds to be light */
  h1, h2, h3, h4, h5, h6 {
    color: #FAF9F7;
  }

  /* Navbar links on sage background */
  .navbar-brand,
  .nav-link {
    color: #FAF9F7 !important;

    &:hover, &:focus {
      color: #F4F1EC !important;
    }
  }

  /* All text elements should be light on sage */
  p, span, div, a:not(.nav-link):not(.navbar-brand) {
    color: #FAF9F7;
  }
}
