
<header class="p-3 text-bg-dark mb-4">
  <div class="container">
    <div class="text-center">
      <h1>1957 Volkswagen Beetle Survivor</h1>
    </div>
  </div>
</header>

<div class="container intro text-center">
  <div class="row">
    <div class="col text-start">
      <img src="/images/main-gallery/1957-vw-beetle-001.jpg" class="img-fluid">
      <p>Let me introduce you to this sweet 1957 Horizon Blue Oval Window 51k mile survivor. This car is an opportunity to own a piece of history.</p>

      <p>
        When I purchased the car, my main objective was to preserve the car while restoring it mechanically so I could enjoy driving it.
        As noted by the mileage records, most of the mileage was added by the original owner. From 1988 on, there have been just over 3700 miles added to the odometer.
        Having sat in collections for the second half of its life, the mechanical aspects of the car did not get much attention.
        Thankfully, that is what I love to do so it was a challenge I was up for.
      </p>

      <p>
        Although the engine still ran well, after 50k miles, I was concerned that there could be issues and didn’t want to risk doing damage to the original engine if there was a problem.
        The engine and the transmission were sent off to get refurbished while I focused my attention on the rest of the mechanical parts as well as other small issues. Here is the list of work performed;
      </p>

      <ul>
        <li>New soft brake lines (ATE)</li>
        <li>New brake master cylinder (ATE)</li>
        <li>New brake wheel cylinders (ATE)</li>
        <li>Drums turned & new brake shoes</li>
        <li>Transmission Rebuilt by Rancho Transaxles</li>
        <li>Motor rebuilt by George Schmidt</li>
        <li>Original date-coded rims painted and shod with new Autobahn(R) 560R15 Bias ply look Steel Belted Radial tires.</li>
        <li>New Wolfsburg West reproduction oil shocks front and rear.</li>
        <li>New running boards with reuse of the original trim.</li>
        <li>All body rubber was replaced due to cracking (window rubber was left as is with some cracking but still supple to preserve the headliner).</li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col text-start">
      <img src="images/main-gallery/1957-vw-beetle-231.jpg" class="img-fluid">
      <ul>
        <li>Here you can see the birthdate of the car is 9/1/56 and exported on 9/3/56</li>
        <li>The color of L331 Horizon Blue was the factory color</li>
        <li>It has an m-code for Light Beige Leatherette which is unique. These cars generally came with dark blue leatherette when exported to the USA</li>
        <li>It was imported through San Francisco before making its way to a dealer in Houston Texas</li>
        <li>The engine has been verified as original to the car as you can see</li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col text-start">
      <h2>Engine Build Details</h2>

      <%= partial "gallery", locals: { total: 12, main_image_name: 'images/engine-gallery/engine-assembly-', thumb_image_name: 'images/engine-gallery/engine-assembly-thmb-' } %>

      <p>
        The goal for the engine rebuild was to give it a little more power to keep up with modern traffic while still retaining the stock look.
        To that end, George opted for AA 80mm pistons and a mild cam manufactured by Wolfsburg West.
      </p>

      <ul>
        <li>Case machined by Brothers</li>
        <li>Case savers installed</li>
        <li>Oil galley plugs were removed and tapped</li>
        <li>Machined for 80mm pistons</li>
        <li>The case was in such good condition that a align bore and thrust cut were not required</li>
        <li>80mm AA pistons</li>
        <li>Wolfsburg West mild cam</li>
        <li>Crank machined by DPR (10/10)</li>
        <li>Heads rebuilt by Rimco</li>
        <li>Flywheel re-ringed and surfaced by DPR</li>
        <li>Pistons, crank, flywheel & clutch plate, pulley, and fan balanced</li>
        <li>Fuel Pump, Distributor, and Carburetor were rebuilt by Ed Fall</li>
        <li>Original hardware re-plated black zinc</li>
        <li>Rod bearings are NOS Karl Schmidt’s .010</li>
        <li>Main bearings are NOS Metal Leve std/.010</li>
        <li>NOS intake manifold ceramic coated</li>
        <li>Engine meticulously assembled and tuned by George Schmidt</li>
      </ul>
    </div>
  </div>
  <hr>
  <%= partial "gallery", locals: { total: 239, main_image_name: 'images/main-gallery/1957-vw-beetle-', thumb_image_name: 'images/main-gallery/1957-vw-beetle-thmb-' } %>
  <hr>
  <div class="row pt-3 pb-4">
    <div class="col-md-6">
      <div class="tutorial container text-center mb-5 ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/ICc0Az4G7cY" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-6">
      <div class="tutorial container text-center mb-5 ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/HtG1ki6agqQ" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col text-start">
      <p>
        As you can see from the pictures, this car is in amazing shape. The rust is limited to surface rust. It has never been in an accident and has all its original hood, decklid, and fenders.
        It has had one repaint that likely took place in the 70’s or 80’s. The interior, under hood, under fenders, and under decklid are original paint.
      </p>

      <p>
        From the documentation I have, there are detailed mileage records until 1988. In 1989, the car was purchased by Glen W Doyen in Kerrville Texas with a mileage of 47,765.
        In 1997 with 47,882 miles on the odometer, the car changed hands and went to Colorado with a gentleman named Scott Pool.
        Scott owned the car until 7/2017 at which point it was purchased by Scott Roberts and moved to Russellville Arkansas with 50,148 on the odometer.
        I then spotted the car for sale, saw the detailed pictures and could not resist the chance to own this time capsule.
      </p>
      <p>
        I purchased the car in Jan 2022 when the car had 50,505 miles on the odometer and now shows 51,974. It has a clean and clear California title.
        After doing the mechanical restoration, I put close to 2000 miles on the car and motor driving it to various shows.
        This included taking it to RVA d'Elegance in Huntington Beach where the car took First in Class honors in the 53-57 stock oval window class.
      </p>

      <p>
        With such low mileage, it drives as well as it did the day it came off the showroom floor. Steering is tight, it is quiet when going over bumps, and tracks well driving at 65-70 mph as you can see in the driving video above.
      </p>

      <p>
        Thanks for looking!
      </p>
    </div>
  </div>
</div>

<footer class="p-3 text-bg-dark">
  <div class="container">
    <div class="text-center">
      <h1>1957 Volkswagen Beetle Survivor</h1>
    </div>
  </div>
</footer>
